html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

#complete
{
    background-color: rgb(216, 216, 216);
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#sidebar
{
    width: 8cm;
    background-color: rgb(244, 244, 244);
    padding: 12pt;
}

#right_area
{
    flex-grow: 1;
    padding: 12pt;
    position: relative;
}

#draw_zone
{
    height: 95%;
    width: 95%;
    min-height: 15cm;

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background-color: #b0b0b0;

}

.sb-subsection
{
    border-style: solid;
    border-color: #b0b0b0;
    border-width: 1pt;
    padding: 8pt;
    margin-bottom: 10pt;

    min-height: 12pt;
}

.inputtable
{
    width: 100%;
    font-size: large;
}

.slider
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.swap_button
{
    height: 16pt;
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    text-align: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}